<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
    {% if count == 0 %}
    <p>There are no users</p>
    {% elif count == 1 %}
    <p>There is 1 user</p>
    {% else %}
    <p>There are {{ count }} users</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User Type</th>
            <th>Email</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Membership</th>
            <th>Time Updated</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{user.get_user_type_str()}}</td>
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td>{{user.get_gender_str()}}</td>
            <td>{{user.get_membership_str()}}</td>
            <td>{{user.get_time_updated_str()}}</td>
            <td><a href="/updateUser/{{user.id}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="/deleteUser/{{user.id}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{user.id}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{user.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure to delete {{user.name}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}</title>
</head>
<body>

</body>
</html>