{% extends "base.html" %}
{% block title %}Food Page{% endblock %}

{% block content %}
<h1 class="display-4">Home</h1>
<p>
{% if session.user_name %}
    Hello {{session.user_name}}

        <h2><a href="/profile/{{user}}" class="btn btn-warning">profile</a></h2>
        <h2><a href="/logout">logout</a></h2>
        <h2><a href="/retrieveUsers">users</a></h2>
    {% else %}
    Hello Guest!
{% endif %}
<h2><a href="/retrieveUsers">users</a></h2>
<table>
    {% for item in inventory_list %}
<tr>
    <td>{{item.name}}</td>
    <td><img class="d-block" style="width: 50px; height: 50px;" src="/static/images/{{item.profile_pic | default('default')}}.jpg"> </td>
</tr>
    {% endfor %}
</table>

</p>

{% endblock %}
