{% extends "base.html" %}
{% block title %}Food Page{% endblock %}

{% block content %}
<h1 class="display-4">Home</h1>
<p>
<!--<h2><a href="/retrieveUsers">users</a></h2>-->
<table>
    <tr>
        <th >Name</th>
        <th>Image</th>
        <th>Cuisine</th>
        <th>Temp</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
{% for item in inventory_list %}
<tr>

    <td>{{item.name}}</td>
    <td><img class="d-block" style="width: 75px; height: 75px;" src="/static/images/{{item.profile_pic | default('default')}}.jpg"> </td>
    <td>{{item.cuisine}}</td>
    <td>{{item.temp}}</td>
    <td>{{item.price}}</td>
    <td>{{item.stock}}</td>
    <td>
<td><a href="/updateInventory/{{item.name}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="/deleteFood/{{item.name}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{item.id}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{item.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure to delete {{item.name}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>


</p>

{% endblock %}
