{% extends "base.html" %}
{% block title %}update user{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Update Details</h1>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.gender, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.birthday, class="form-control datepicker") }}
    </div>
    <div class="form-group">
        {{ render_field(form.user_type, class="form-check") }}
    </div>
    <div class="form-group">
        {{ render_field(form.remarks, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary mt-3"/>

    <a href="/changePassword">update password</a>
</form>
{% endblock %}


