<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ReleaseFood</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
          </li>
          <li class="nav-item">
            {% if session.user_type == 'S' %}
            <a class="nav-link" href="/addInventory">AddFood(staff)</a>
            {% else %}
            <a class="nav-link disabled" href="">AddFood</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if session.user_type == 'S' %}
            <a class="nav-link " href="/retrieveInventory" tabindex="-1" aria-disabled="true">inventory(staff)</a>
            {% else %}
            <a class="nav-link disabled" href="">inventory</a>
            {% endif %}
          </li>
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User options
          </a>
             {% if session.user_type == 'C','S' %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile/{{session.user_id}}">Profile</a></li>
            <li><a class="dropdown-item" href="/updateUser/{{session.user_id}}">Change User Details</a></li>
            {% if session.user_type == 'S' %}
            <li><a class="dropdown-item" href="/retrieveUsers">All Users (staff)</a></li>
              <li><a class="dropdown-item" href="/retrieveUsers">All Users (staff)</a></li>
            {% endif %}
            {% endif %}
          </ul>

            </li>
        </ul>
          {% if session %}
          <a class="btn btn-outline-success" href="/logout">logout</a>
          {% else %}
          <a class="btn btn-outline-success" href="/login">Login</a>
          <a class="btn btn-outline-success" href="/createUser">Register</a>
          {% endif %}
      </div>
    </div>
  </nav>
